$danger: #ef476f;
$info:  #ffd166;
$success: #06d6a0;
$primary: #118ab2;
$secundary: #407080;
$default: #efefef;
$white: #ffffff;

.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}