.btn{
    padding: .5rem;
    font-size: 1rem;
    font-weight: bold;
}

.btn.btn-success{
    background-color: $primary;
    color: $white;
    border: none;
}

.btn.btn-success:hover{
    background-color: rgba($primary, .8);
    cursor: pointer;
}